{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.12.6"}
        com.layerware/hugsql {:mvn/version "0.5.3"}
        com.layerware/hugsql-adapter-next-jdbc {:mvn/version "0.5.3"}
        org.xerial/sqlite-jdbc {:mvn/version "3.53.4.0"}
        seancorfield/next.jdbc {:mvn/version "1.2.659"}
        dev.dirs/directories {:mvn/version "26"}
        org.babashka/cli {:mvn/version "0.12.91"}
        com.github.clj-easy/graal-build-time {:mvn/version "1.0.6"}}
 :aliases
 {:run-m {:main-opts ["-m" "jamescrake-merani.auto-timesheet"]}
  :run-x {:ns-default jamescrake-merani.auto-timesheet.cli
          :exec-fn -main}
  :build {:deps {io.github.clojure/tools.build
                 {:mvn/version "0.10.14"}}
          :ns-default build}
  :test {:extra-paths ["test"]
         :extra-deps {lambdaisland/kaocha {:mvn/version "1.91.1392"}}
         :main-opts ["-m" "kaocha.runner"]}}}
